#logo img {
    max-height: 40px; 
    margin-right: 10px; 
}

.nav-pills .nav-link {
    margin-left: 10px; 
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.min-vh-100 {
    min-height: 100vh;
}

.container {
    flex: 1;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    flex: 1;
    text-align: center;
    width: 723;
}

footer {
    width: 100%;
}

main{
    margin-bottom: 10%;
}

#footer_logo img{
    max-height: 40px; 
    margin-right: 10px;
}

#footer_logo{
    margin-left: 1%;
}

#tarjetas{
    width: 99%;
}

#idiomas{
    width: 60%;
}

#lenguajes{
    width: 60%;
}


main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

#ZIG-Fondo{
    background-image: url('/Res/EjemploProyecto.png'); 
    background-size: cover; 
    background-position: center; 
    border: solid black 1.5px;
    height: 50vh;
}

#texto_zig{
    background-color: rgb(191, 181, 175);
    width: 13vw;
}

#enlace-zig{
    background-color: rgb(191, 181, 175);
}

#IlernaValley-Fondo{
    background-image: url('/Res/IlernaValleyEj.png'); 
    background-size: cover; 
    background-position: center; 
    border: solid black 1.5px;
    height: 50vh;
}

#texto_valley{
    background-color: rgb(113, 170, 52);
    width: 70%;
}

#Expo-Fondo{
    background-image: url('/Res/Expo_Ej.png'); 
    background-size: cover; 
    background-position: center; 
    border: solid black 1.5px;
    height: 50vh;
}

#texto_expo{
    background-color: rgb(251, 249, 248);
    width: 11vw;
}

#enlace-expo{
    background-color: rgb(251, 249, 248);
}

#Mascotas-Fondo{
    background-image: url('/Res/Mascotas_Ej.png'); 
    background-size: cover; 
    background-position: center; 
    border: solid black 1.5px;
    height: 50vh;
}


#texto{
    text-align: center;
    margin-bottom: 2vh;

}

#indexmain{
    max-height: 20%;
}

table{
    text-align: center;
}

#formulario{
    width: 340px;
}

#presentacion_sobre_mi{
    text-align: justify;
}